{% extends "finance/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>

    <link rel="stylesheet" href="{% static 'finance/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'finance/css/add_expense_item.css' %}">
{% endblock %}

{% block main %}

<div class="add_expense_item">
    <h3>費目の追加</h3>
    <form method="POST">
        {% csrf_token %}

        <div class="form-inline my-2">
            <input id="ei_income_chk" class="income_chk" name="income" type="checkbox">
            <label for="ei_income_chk" class="income_label mr-2"></label>

            <input type="text" class="form-control" name="name" required>
        </div>

        <input type="submit" class="btn btn-primary" value="費目の追加">
        <a href="{% url 'finance:index' %}" class="btn btn-danger">キャンセル</a>
    </form>
</div>

{% for expense_item in expense_items %}
{% if expense_item.income %}
<div class="border py-2">
    <div class="income mx-2"><span>収入</span></div>
    <div class="expense_item">{{ expense_item.name }}</div>
</div>
{% endif %}
{% endfor %}

{% for expense_item in expense_items %}
{% if not expense_item.income %}
<div class="border py-2">
    <div class="outgo mx-2">支出</div>
    <div class="expense_item">{{ expense_item.name }}</div>
</div>
{% endif %}
{% endfor %}

{% endblock %}