{% extends "finance/base.html" %}
{% load static %}
{% load humanize %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>

    <script>
        let DELETE_URL = "{% url 'finance:delete' 1 %}"
    </script>

    <link rel="stylesheet" href="{% static 'finance/css/index.css' %}">
    <script src="{% static 'finance/js/ajax.js' %}"></script>
    <script src="{% static 'finance/js/index.js' %}"></script>
{% endblock %}

{% block main %}
    
    <div class="index_flexbox">
        <div>
            ここにサマリーを表示
        </div>
    
        <div>
            <input type="radio" name="tab_system" id="tab_radio_1" class="tab_radio" checked><label for="tab_radio_1" class="tab_label">カレンダー</label>
            <input type="radio" name="tab_system" id="tab_radio_2" class="tab_radio"><label for="tab_radio_2" class="tab_label">収支一覧</label>
            <input type="radio" name="tab_system" id="tab_radio_3" class="tab_radio"><label for="tab_radio_3" class="tab_label">月別収支</label>
        
            <!-- カレンダー -->
            <div id="tab_area_1" class="tab_area">
                
                <div class="calender_header">
                    <div class="calender_link_area">
                        <a href="?year={{ last_month.year }}&month={{ last_month.month }}" style="color: #288c66;"><i class="fas fa-angle-left"></i></a>
                    </div>
                    
                    <form class="calender_form_area" action="" method="GET">
                        <select name="year">
                            {% for year in years %}
                            <option value="{{ year }}"  {% if year == selected_date.year %}selected{% endif %}>{{ year }}年</option>
                            {% endfor %}
                        </select>
                        <select name="month">
                            {% for month in months %}
                            <option value="{{ month }}" {% if month == selected_date.month %}selected{% endif %}>{{ month }}月</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="検索">
                    </form>
                    <div class="calender_link_area">
                        <a href="?year={{ next_month.year }}&month={{ next_month.month }}" style="color: #288c66;"><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <table class="calender">
                    <thead class="calender_head">
                        <tr>
                            <td>日</td>
                            <td>月</td>
                            <td>火</td>
                            <td>水</td>
                            <td>木</td>
                            <td>金</td>
                            <td>土</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week in calender %}
                        <tr>
                            {% for date in week %}
                            <td>{{ date.day }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="add_balance">
                    <label class="modal_label" for="modal_chk" style="font-size:3rem; color:#288c66;">
                        <i class="fas fa-plus-circle"></i>
                    </label>
                </div>
            </div>
        
            <!-- 収支一覧 -->
            <div id="tab_area_2" class="tab_area">
                <table class="balance_list">
                    <thead class="balance_list_head">
                        <tr>
                            <th>利用日</th>
                            <th>収支</th>
                            <th>費目</th>
                            <th>金額</th>
                            <th>備考</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="balance_list_body">
                        {% for balance in balances %}
                        <tr>
                            <td>{{ balance.use_date }}</td>
                            <td>
                                {% if balance.expense_item.income %}
                                <label style="background: #143cdb;">収入</label>
                                {% else %}
                                <label style="background: crimson;">支出</label>
                                {% endif %}
                            </td>
                            <td>{{ balance.expense_item.name|default:"不明" }}</td>
                            <td>
                                {% if balance.expense_item.income %}
                                <span style="color: #143cdb;">{{ balance.amount|intcomma   }}</span>
                                {% else %}
                                <span style="color: crimson;">{{ balance.amount|intcomma   }}</span>
                                {% endif %}
                            </td>
                            <td>{{ balance.description   }}</td>
                            {# TODO: 編集と削除機能の追加 #}
                            <td><a style="color:#288c66;"><i class="fas fa-pen"></i></a></td>
                            <td><button class="trash" style="color:#288c66;" value="{{ balance.id }}"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="add_balance">
                    <label class="modal_label" for="modal_chk" style="font-size:3rem; color:#288c66;">
                        <i class="fas fa-plus-circle"></i>
                    </label>
                </div>
            </div>

            <!-- 月別収支 -->
            <div id="tab_area_3" class="tab_area">                
                {% for monthly_balance in monthly_balances %}
                <div class="border">{{ monthly_balance.month }}月：{{ monthly_balance.amount|intcomma }}円</div>
                {% endfor %}
            </div>
        </div>    
    </div>

    {# モーダル領域 #}
    <input id="modal_chk" class="modal_chk" type="checkbox">
    <div class="modal_body">
        <label class="modal_bg" for="modal_chk"></label>
        <div class="modal_content">
            
            <input id="modal_sw" class="modal_chk" type="checkbox">

            <div class="modal_balance">
                <h2>登録</h2>    
                <form method="POST">
                    {% csrf_token %}
            
                    <input id="date" class="form-control my-2" name="use_date">
    
                    <div class="form-inline my-2">
                        <input id="income_chk" class="income_chk" name="income" type="checkbox">
                        <label for="income_chk" class="income_label mr-2"></label>
                
                        <select class="form-control mr-2" name="expense_item" required>
                        </select>
                        <label class="modal_label" for="modal_sw" style="font-size:2rem; color:#288c66;">
                            <i class="fas fa-plus-circle"></i>
                        </label>
                    </div>
    
                    <input class="form-control my-2" type="number" name="amount" placeholder="金額を入力してください" min="0" required>
                    
                    <textarea class="form-control my-2" name="description" placeholder="備考"></textarea>
            
                    <div class="form-row my-2">
                        <input class="col-sm-6 btn btn-primary" type="submit" value="登録">
                        <label class="col-sm-6 btn btn-danger my-0" for="modal_chk">キャンセル</label>
                    </div>
                </form>
            </div>
            <div class="modal_expense_item">
                <div>
                    <h2>費目の追加</h2>
                    <form id="add_income_form" action="{% url 'finance:income' %}" method="POST">
                        {% csrf_token %}
        
                        <div class="form-inline my-2">
                            <input id="ei_income_chk" class="income_chk" name="income" type="checkbox">
                            <label for="ei_income_chk" class="income_label mr-2"></label>
        
                            <input type="text" class="form-control mr-2" name="name" required>
                            <div class="form-inline my-2">
                                <label id="add_income" for="modal_sw" class="btn btn-primary mr-2">費目の追加</label>
                                <label for="modal_sw" class="btn btn-danger">キャンセル</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <h2>費目一覧</h2>
                    <div id="income_list">
                        {% comment %}
                        {% for expense_item in expense_items %}
                        {% if expense_item.income %}
                        <div class="border py-2">
                            <div class="income mx-2"><span>収入</span></div>
                            <div class="expense_item">{{ expense_item.name }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% for expense_item in expense_items %}
                        {% if not expense_item.income %}
                        <div class="border py-2">
                            <div class="outgo mx-2">支出</div>
                            <div class="expense_item">{{ expense_item.name }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endcomment %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

