{% extends "finance/base.html" %}
{% load static %}
{% load humanize %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>

    <script>
        let DELETE_URL  = "{% url 'finance:delete' 1 %}"
        let EDIT_URL    = "{% url 'finance:edit' 1 %}"
    </script>

    <link rel="stylesheet" href="{% static 'finance/css/index.css' %}">
    <script src="{% static 'finance/js/ajax.js' %}"></script>
    <script src="{% static 'finance/js/index.js' %}"></script>
{% endblock %}

{% block main %}
    
    <div class="index_flexbox">
        <div>
            {% for monthly_balance in monthly_balances %}
            {% if monthly_balance.month == selected_date.month %}
            {{ monthly_balance.month }}月の収支：{{ monthly_balance.amount|intcomma }}円
            {% endif %}
            {% endfor %}
        </div>
    
        <div>
            <input type="radio" name="tab_system" id="tab_radio_1" class="tab_radio" checked><label for="tab_radio_1" class="tab_label">カレンダー</label>
            <input type="radio" name="tab_system" id="tab_radio_2" class="tab_radio"><label for="tab_radio_2" class="tab_label">収支一覧</label>
            <input type="radio" name="tab_system" id="tab_radio_3" class="tab_radio"><label for="tab_radio_3" class="tab_label">月別収支</label>
        
            <!-- カレンダー -->
            <div id="tab_area_1" class="tab_area">
                {% include "finance/calender_header.html" %}
                <table class="calender">
                    <thead class="calender_head">
                        <tr>
                            <td>日</td>
                            <td>月</td>
                            <td>火</td>
                            <td>水</td>
                            <td>木</td>
                            <td>金</td>
                            <td>土</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week in calender %}
                        <tr>
                            {% for date in week %}
                            <td>{{ date.day }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="add_balance">
                    <label class="modal_label" for="modal_chk" style="font-size:3rem; color:#288c66;">
                        <i class="fas fa-plus-circle"></i>
                    </label>
                </div>
            </div>
        
            <!-- 収支一覧 -->
            <div id="tab_area_2" class="tab_area">
                {% include "finance/calender_header.html" %}
                <div class="balance_list">
                    {% for balance in balances %}
                    {% if balance.use_date.year == selected_date.year and balance.use_date.month == selected_date.month %}
                    <div>
                        <div class="balance_list_date">{{ balance.use_date }}</div>
                        <div class="balance_list_content">
                            <div>
                                {% if balance.expense_item.income %}
                                <label class="income">収入</label>
                                {% else %}
                                <label class="outgo">支出</label>
                                {% endif %}
                            </div>
                            <div>{{ balance.expense_item.name|default:"不明" }}</div>
                            <div>
                                {% if balance.expense_item.income %}
                                <span style="color: #143cdb; font-weight: bold;">{{ balance.amount|intcomma }}</span>
                                {% else %}
                                <span style="color: crimson; font-weight: bold;">{{ balance.amount|intcomma }}</span>
                                {% endif %}
                            </div>
                            <div class="balance_list_icon">
                                <button class="edit" style="color:#288c66;" value="{{ balance.id }}"><i class="fas fa-pen"></i></button>
                                <button class="trash" style="color:#288c66;" value="{{ balance.id }}"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                        <input id="edit_modal_chk_{{ balance.id }}" class="edit_modal_chk" type="checkbox">
                        <div class="edit_modal_body">
                            <label class="edit_modal_bg" for="edit_modal_chk_{{ balance.id }}"></label>
                            <div class="edit_modal_content">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="add_balance">
                    <label class="modal_label" for="modal_chk" style="font-size:3rem; color:#288c66;">
                        <i class="fas fa-plus-circle"></i>
                    </label>
                </div>
            </div>

            <!-- 月別収支 -->
            <div id="tab_area_3" class="tab_area">
                {{ selected_date.year }}年の月別収支
                {% for monthly_balance in monthly_balances %}
                <div class="border">{{ monthly_balance.month }}月：{{ monthly_balance.amount|intcomma }}円</div>
                {% endfor %}
            </div>
        </div>    
    </div>

    {# モーダル領域 #}
    <input id="modal_chk" class="modal_chk" type="checkbox">
    <div class="modal_body">
        <label class="modal_bg" for="modal_chk"></label>
        <div class="modal_content">
            
            <input id="modal_sw" class="modal_chk" type="checkbox">

            <div class="modal_balance">
                <h2>登録</h2>
                <form id="balance_form" method="POST">
                    {% csrf_token %}
            
                    <input class="date" class="form-control my-2" name="use_date">
    
                    <div class="form-inline my-2">
                        <input id="income_chk" class="income_chk" name="income" type="checkbox">
                        <label for="income_chk" class="income_label mr-2"></label>
                
                        <select class="form-control mr-2" name="expense_item" required>
                        </select>
                        <label class="modal_label" for="modal_sw" style="font-size:2rem; color:#288c66;">
                            <i class="fas fa-plus-circle"></i>
                        </label>
                    </div>
    
                    <input class="form-control my-2" type="number" name="amount" placeholder="金額を入力してください" min="0" required>
                    
                    <textarea class="form-control my-2" name="description" placeholder="備考"></textarea>
            
                    <div class="form-row my-2">
                        <input class="col-sm-6 btn btn-primary" type="submit" value="登録">
                        <label class="col-sm-6 btn btn-danger my-0" for="modal_chk">キャンセル</label>
                    </div>
                </form>
            </div>
            <div class="modal_expense_item">
                <div>
                    <h2>費目の追加</h2>
                    <form id="add_income_form" action="{% url 'finance:income' %}" method="POST">
                        {% csrf_token %}
        
                        <div class="form-inline my-2">
                            <input id="ei_income_chk" class="income_chk" name="income" type="checkbox">
                            <label for="ei_income_chk" class="income_label mr-2"></label>
        
                            <input type="text" class="form-control mr-2" name="name" required>
                            <div class="form-inline my-2">
                                <label id="add_income" for="modal_sw" class="btn btn-primary mr-2">費目の追加</label>
                                <label for="modal_sw" class="btn btn-danger">キャンセル</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div style="margin-top: 1.5rem;">
                    <h2>費目一覧</h2>
                    <div id="income_list" class="border">
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

